@font-face {
	font-family: 'Open Sans', sans-serif; 
  src: url();
}
* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}
.container {
  position:relative;
  width:100%;
  margin: 0 auto;
  height:auto;
}
.waiting {
  &__items {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 100px;
    @media (max-width: 1200px) {
      gap: 60px;
    }
    @media (max-width: 992px) {
      gap: 40px;
    }
    @media (max-width: 768px) {
      gap: 20px;
    }
  }
  
  &__item {
    width: 343px;
    @media (max-width: 1200px) {
      width: 300px;
    }
    @media (max-width: 992px) {
      width: 275px;
    }
    @media (max-width: 768px) {
      width: 220px;
    }
  }
  &__title {
    margin-top: 22px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    text-transform: uppercase;
    color: #312E2E;
    @media (max-width: 1200px) {
      font-size: 16px;
    }
    @media (max-width: 992px) {
      font-size: 13px;
    }
    @media (max-width: 768px) {
      font-size: 13px;
      margin-top: 8px;
    }
  }
  &__descr {
    margin-top: 28px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #5C5C5C;
    margin-bottom: 52px;
    @media (max-width: 1200px) {
      font-size: 16px;
      line-height: 22px;
    }
    @media (max-width: 992px) {
      margin-top: 18px;
      font-size: 12px;
      line-height: 22px;
    }
    @media (max-width: 768px) {
      margin-top: 8px;
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 25px;
    }
  }
  &__link {
    display: block;
    margin-top: 28px;
    font-family: 'GalanoGrotesque-Bold';
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
    color: #4343FF;
    @media (max-width: 992px) {
      margin-top: 18px;
      font-size: 13px;
      line-height: 15px;
    }
  }
}
.surprise {
  position: relative;
  max-width: 1116px;
  height: 407px;
  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content:flex-start;
    flex-wrap: wrap;
    padding-left: 96px;
    padding-top: 40px;
    @media (max-width: 992px) {
      padding-left: 56px;
    }
    @media (max-width: 768px) {
      padding-left: 40px;
    }
    @media (max-width: 575px) {
      padding-left: 14px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Open Sans';
    line-height: 28px;
    color: #333333;
    margin-top: 40px;
    margin-bottom: 15px;
    @media (max-width: 768px) {
      font-size: 17px;
      line-height: 21px;
    }
  }
  &__text {
    font-weight: 400;
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 28px;
    color: #333333;
    width: 344px;
    margin-bottom: 15px;
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 20px;
      width: 321px;
    }
    @media (max-width: 575px) {
      width: 289px;
    }
  }
  &__btn {
    padding: 20px 40px;
    width: 192px;
    height: 56px;
    border: 1px solid #0079C8;
    border-radius: 4px;
    @media (max-width: 768px) {
      width: 170px;
      height: 51px;
      padding: 16px 40px;
    }
  }
  a {
    text-decoration: none;
  }
  &__img {
    position: absolute;
    left: 465px;
    top: 40px;
    height: 400px;
    @media (max-width: 992px) {
      left: 426px;
      height: 390px;
    }
    @media (max-width: 768px) {
      left: 380px;
      height: 267px;
    }
    @media (max-width: 575px) {
      top: 255px;
      left: 14px;
      height: 191px;
      padding-bottom: 10px;
    }
  }
}
.picture {
  max-width: 1116px;
  margin-top: 100px;
  &__title {
    font-family: 'Open Sans', sans-serif; 
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #333333;
    margin-bottom: 15px;
    margin-left: 168px;
    @media (max-width: 992px) {
      margin-left: 120px;
    }
    @media (max-width: 768px) {
      margin-left: 50px;
      font-size: 16px;
      line-height: 13px;
      margin-bottom: 11px;
    }
    @media (max-width: 575px) {
      margin-left: 14px;
      font-size: 13px;
    }
  }
  &__text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #333333;
    margin-left: 168px;
    @media (max-width: 992px) {
      margin-left: 120px;
    }
    @media (max-width: 768px) {
      margin-left: 50px;
      font-size: 14px;
      line-height: 24px;
    }
    @media (max-width: 575px) {
      margin-left: 14px;
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__item {
    margin: 33px 0 80px 168px;
    display: flex;
    gap: 18px;
    @media (max-width: 992px) {
      margin: 28px 0 50px 120px;
    }
    @media (max-width: 768px) {
      margin: 28px 0 30px 50px;
    }
    @media (max-width: 575px) {
      flex-direction: column;

    }
  }
  img {
    @media (max-width: 768px) {
      width: 190px;
    object-fit: contain;
    }
    
  }
}
// @import 'blocks/media';