@media (max-width: 1200px) {
    .waiting {
        &_wrapper {
            padding: 0 15px;
        }
        &_wrapper_1 {
            padding: 0 15px;
        }
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .waiting {
        &_wrapper {
            padding-right: 55px;
            gap: 40px;
        }
        &_item {
            width: 290px;
        }
        &_descr {
            line-height: 22px;
            font-size: 13px;
            width: 220px;
            margin-bottom: 40px;
        }
        &_title {
            font-size: 15px;
            line-height: 23px;
        }
        img {
            width: 105px;
            height: 85px;
        }
        &_wrapper_1 {
            margin-top: 60px;
            margin-left: 80px;
            gap: 40px;
        }
        hr {
            width: 220px;
        }
    }
}
@media (max-width: 768px) {
    .container {
        min-width: 540px;
    }
    .waiting{
        img {
            width: 95px;
            height: 85px;
        }
        &_title {
            font-size: 13px;
        }
        &_descr {
            width: 205px;
            margin-bottom: 30px;
        }
        hr {
            width: 200px;
        }
        &_link {
            margin-top: 18px;
        }
        &_wrapper_1 {
            gap: 25px;
        }
    }
}
@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .waiting {
        &_wrapper_1 {
            flex-direction: column;
            margin-left: 0;
        }
        img {
            width: 105px;
            height: 95px;
        }
        &_title {
            font-size: 19px;
        }
        &_descr {
            width: 265px;
        }
        &_wrapper {
            flex-direction: column;
        }
    }
}